*__pycache__*
.env
.vagrant/
.idea
.venv
.java-version
*.iml
*.ipr
*.iws
target/
*/.idea
*.jar
*.class
*.py[c|o]
*~
*.swp
*.swo
dataapi/logs
*.coffee~
*.js~
*.arx
adnauseam
dependency-reduced-pom.xml
.DS_Store
.shipwright/
*.egg-info
.eggs/
python/build/
python/dist/
scripts/metastore_db/
scripts/insights
.webassets-cache/
jobs/.automation_env

